@model IEnumerable<WebApp.Models.Checkout>

@{
    ViewData["Title"] = "Confirm";
}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 class="text-center">Confirm Order</h1>
      <hr />
      
      <div class="container">
          @foreach (var item in Model)
          {
              <div class="row">
                  <div class="col">
                    <div class="centered-box" style="background-color: #ffffff;">
                      <body>
                        <img class="checkoutPic" style="float: left" src="../../Images/@Html.DisplayFor(modelItem => item.InventoryPic)" alt="">
                        <h5 style="float: right" >@Html.DisplayFor(modelItem => item.InventoryName)</h5>
                        <div style="clear:both;">&nbsp;</div>
                        <h6 style="float: right" margin-bottom >$@Html.DisplayFor(modelItem => item.InventoryPrice)</h6>
                      </body>
                    </div>
                  </div>
              </div>
          }
      </div>
      <div style="clear:both;">&nbsp;</div>
      <body class="checkOutBack">
        <div class="centered-box" style="background-color: white;">
          <p style="float:left;"><strong>Subtotal</strong></p>
          <p style="float:right;">$Amount</p>
        </div>

        <div style="clear:both;">&nbsp;</div>
        <div class="centered-box" style="background-color: white;">
          <p style = "float:left;"><strong>Tax</strong></p>
          <p style = "float:right;">$Amount</p>
        </div>

        <div style="clear:both;">&nbsp;</div>
        <div class="centered-box" style="background-color: white;">
          <p style = "float:left;"><strong>Shipping</strong></p>
          <p style = "float:right;">$Amount</p>
        </div>
        <div style="clear:both;">&nbsp;</div>

        <hr />
        <div class="centered-box" style="background-color: white;">
          <p style = "float:left;"><strong>Grand Total</strong></p>
          <p style = "float:right;">$Amount</p>
        </div>
        <div style="clear:both;">&nbsp;</div>
        <div class="centered-box" style = "float:right;">
          <a class="btn btn-secondary btn-sm btn-warning" asp-area="" asp-controller="ShippingPaymentInfo" asp-action="Shipping">Return To Shipping and Payment Information</a>
        </div>


        <div style="clear:both;">&nbsp;</div>

        <div class="d-grid gap-2 mx-auto">
          <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="OrderComplete" asp-action="Complete">Confirm Order</a>
        </div>


      </body>
    </div>
  </div>
</div>