@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*This is from the ASP.Net Template provided. Not necessary at the moment*@
<p>Use this page to detail your site's privacy policy.</p>
