

@using WebApp.Controllers
@using WebApp.Data
@using Microsoft.EntityFrameworkCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model dynamic

@{
    ViewData["Title"] = "Index";
}

<h1>Shop with us !</h1>

@{
    IEnumerable<Inventory> inventory = ViewData["IndexInventory"] as IEnumerable<Inventory>;
    IEnumerable<Checkout> checkout = ViewData["IndexCheckout"] as IEnumerable<Checkout>;
}
    @if (inventory != null)
    {
        var myList = inventory.ToList();
        
        @for(var i = 0; i< myList.Count; i=i+2) {

            <div class="row">
                <div class="col">
                    @* <img src="/WebApplication1/Images/TonyStarkSuit.jpg" alt=""> *@
                    <img class="itemPic" src="../../Images/@Html.Raw(myList[i].InventoryPic)" alt="">
                    @* <img class="itemPic" src="../../Images/DarthVaderLightSaber.webp" alt=""> *@

                </div>
                <div class="col" id="sec1">
                    <h2 asp-for="InventoryName">@Html.Raw(myList[i].InventoryName)</h2>
                    <p>@Html.Raw(myList[i].InventoryDescription)</p>
                    <p>$@Html.Raw(myList[i].InventoryPrice)</p>
                    @using (Html.BeginForm("CreateCartItem", "Inventory", new{Id=myList[i].InventoryId},FormMethod.Post))
                    {
                        <button type="submit">Add to Cart</button>
                    }
            
                </div>
                @if (i +1!=myList.Count)
                {
                    <div class="col">
                        <img class="itemPic" src="../../Images/@Html.Raw(myList[i+1].InventoryPic)" alt="">

                    </div>
                    <div class="col" id="sec1">
                        <h2>@Html.Raw(myList[i+1].InventoryName)</h2>
                        <p>@Html.Raw(myList[i+1].InventoryDescription)</p>
                        <p>$@Html.Raw(myList[i+1].InventoryPrice)</p>
                        @using (Html.BeginForm("CreateCartItem", "Inventory", new{Id=myList[i+1].InventoryId},FormMethod.Post))
                        {
                            <button type="submit">Add to Cart</button>
                        }
                    </div>
                }
            </div>
        }
    }
    else
    {
        <p>Inventory data is not available.</p>
        <!-- Handle the null case accordingly -->
    }




 

