@* @model IEnumerable<LootXApp.Models.Inventory> *@

@using WebApp.Controllers
@using WebApp.Data
@using Microsoft.EntityFrameworkCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model dynamic

@{
    ViewData["Title"] = "Index";
}

<h1>Shop with us !</h1>

@* This c# code fetches data from the Inventory controller which has both GetInventory and GetCHeckout Functions that fetch data from the database
see line 19 and line 32 in InventoryController.cs for code*@
@{

   IEnumerable<Inventory> inventory = (ViewData["IndexInventory"] as IEnumerable<Inventory>)!;
   IEnumerable<Checkout> checkout = (ViewData["IndexCheckout"] as IEnumerable<Checkout>)!;
}

@{
    var myList = inventory.ToList();
    var clicked = false;
}

@for(var i = 0; i< myList.Count; i=i+2) {

    <div class="row">
        <div class="col">
            <img class="itemPic" src="../../Images/@Html.Raw(myList[i].InventoryPic)" alt="">
        </div>
        <div class="col" id="sec1">
            <h2 asp-for="InventoryName">@Html.Raw(myList[i].InventoryName)</h2>
            <p>@Html.Raw(myList[i].InventoryDescription)</p>
            <p>$@Html.Raw(myList[i].InventoryPrice)</p>
            @using (Html.BeginForm("CreateCartItem", "Inventory", new{Id=myList[i].InventoryId},FormMethod.Post))
            {
                <button type="submit">Add to Cart</button>
            }
            
        </div>
        @if (i +1!=myList.Count)
        {
            <div class="col">
                <img class="itemPic" src="/../../Images/@Html.Raw(myList[i+1].InventoryPic)" alt="">
            </div>
            
            <div class="col" id="sec1">
                <h2>@Html.Raw(myList[i+1].InventoryName)</h2>
                <p>@Html.Raw(myList[i+1].InventoryDescription)</p>
                <p>$@Html.Raw(myList[i+1].InventoryPrice)</p>
                @using (Html.BeginForm("CreateCartItem", "Inventory", new{Id=myList[i+1].InventoryId},FormMethod.Post))
                {
                    <button type="submit">Add to Cart</button>
                }
            </div>
        }
    </div>
}



