@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LootX</h1>
    
    <h2>Please Create an Account</h2>
    
  
</div>